body {
	margin:0;
	padding:0;
	background-color:#333333;
}

header {
	background-color:black;
	width:100%;
	height:70px;
}

h1 {
		top:20px;
}

h1 , h3, .caption{ 
	color:white;
	margin: 0;
	text-align:center;
	font-family:Verdana, sans-serif;
	position:relative;
}

.block {
	display:inline-block;
	width:22%;
	margin:10px 1%;
	border:2px dashed red;
}

img {
	border:3px solid black;
	padding:0;
	margin:10px 0;
	width:97%;
}

#fauxFooter {
	height:50px;
	width: 100%;
}

footer {
	background-color:black;
	width:100%;
	height:50px;
	position:fixed;
	bottom:0;
}



@media (max-width:738px) {
	body {
		background-color:white;
	}
	header {
		background-color:#EEEEFF;
		height:110px;
	}

	h1 , h3, .caption{
		color: black;
	}

	.block {
		display:inline;
		background-color:white;
	}


	footer{
		background-color:#EEEEFF;
	}
}

@media (max-width:408px) {
	body {
		background-color:#AEEEEE;
	}
	header {
		background-color:#AEEEEE;
		height:160px;
	}
	header h1{
		color:black;
	}

	.block {
		display:inline;
		background-color:#AEEEEE;
	}
	.caption {
		color:black;
	}

	footer{
		background-color:#AEEEEE;
	}
}