header {
	margin:0 auto;
	background-color:gray;
	border-bottom-right-radius: 20px;
	border-bottom-left-radius:20px;
	top:0px;

}
#row1{
	margin:0 auto;
}
.block {
	display:inline-block;
	height:400px;
	width:27%;
	position:relative;
	margin:3%;
}
img{
	position:absolute;
	max-width: 100%;
	border:3px solid black;
	padding:0;
	margin:0 auto;
	left:0;
}
.caption{
	text-align: center;
	position:absolute;
	margin:0 auto;
	top:-30px;
	width: 100%;
	border:1px dashed red;
}
body{
	margin:0px;
	padding:0px;
}

